@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background: white;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;
  text-align: center;
}
.navbar .LogoText {
  color: black;
  font-size: 2em;
  font-weight: bold;
}
.navbar .LogoText span {
  color: #007AF3;
}

.hero {
  background: #007AF3;
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.7em;
  color: white;
}

.text-and-recommendations {
  background: white;
  margin: 1.5em 4% 1em 4%;
}
.text-and-recommendations .left-column {
  position: relative;
  float: left;
  margin: 0;
  width: 60%;
}
.text-and-recommendations .left-column .information-text {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #007AF3;
  margin-bottom: 1em;
}

.text-and-recommendations .left-column .text-wrapper {
  display: grid;
  grid-template: 1fr / 1fr;
}

.text-and-recommendations .left-column .text-wrapper > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.text-and-recommendations .left-column .text {
  z-index: 3;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  margin-top: -3.2em;
  background: rgba(0,0,0,0);
  border-radius: 1em;
}

.text-and-recommendations .left-column .text-underline {
  z-index: 1;
  background: #f2f2f2;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  margin-top: -3.2em;
  color: rgba(0,0,0,0);
}

.text-and-recommendations .left-column .placeholder {
  color: grey;
  padding: 0.8em 1.5em;
}

.text-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.copy-button, .submit-button, .back-button, .clear-button {
  width: auto;
  padding: 0 20px;
  height: 50px;
  border-radius: 1.5em;
  background: #007AF3;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin: 5px;
}

.back-button {
  display: none;
}

.copy-button:hover, .submit-button:hover, .back-button:hover, .clear-button:hover {
  background-color: #555;
}

.text-and-recommendations .left-column .error-message {
  color: red;
  text-align: center;
  margin-top: 10px; 
  font-size: 16px;
}

.text-and-recommendations .right-column {
  width: 30%;
  float: right;
  margin-bottom: 2em;
}
.text-and-recommendations .right-column .allClearText {
  padding: 1em 0em 1em 1em;
  background: #f2f2f2;
  border-radius: 1em;
}

.text-and-recommendations .right-column .errorText {
  padding: 1em 0em 1em 1em;
  background: #f2f2f2;
  border-radius: 1em;
  border: 5px solid red;
}

.text-and-recommendations .right-column .error-message {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0.5em 0.8em;
  background: #f2f2f2;
  border-radius: 1em;
}
.text-and-recommendations .right-column .error-message .close-button {
  float: right;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
.text-and-recommendations .right-column .error-message .arrow {
  content: "→";
}
.text-and-recommendations .right-column .error-message .wrongWord {
  color: red;
}
.text-and-recommendations .right-column .error-message .correctWord {
  background: #007AF3;
  color: white;
  padding: 2px 8px;
  border-radius: 1em;
  cursor: pointer;
}
.text-and-recommendations .right-column .error-message .wrongWord, .text-and-recommendations .right-column .error-message .arrow, .text-and-recommendations .right-column .error-message .correctWord {
  display: inline-block;
  margin-right: 0.5em;
}
.text-and-recommendations .right-column .error-message .description {
  padding-top: 10px;
  font-size: 0.9em;
}

.loading-screen {
  padding: 1em 0em 1em 1em;
  background: #f2f2f2;
  border-radius: 1em;
}

.progress-bar {
  width: 0;
  height: 5px;
  background-color: #007AF3;
  border-radius: 2.5px;
}

.feedback {
  background-color: #007AF3;
  color: white;
}

.feedback .title {
  text-align: center;
  font-size: 1.1em;
  margin: 1em 1em 0em 1em;
  padding: 1em;
}

.feedback .feedback-text{
  text-align: left;
  background: #f2f2f2;
  color: #007AF3;
  padding: 1em 1em;
  margin: .2em 25em;
  border-radius: 1em;
}

.feedback .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback .button .feedback-button {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 1.5em;
  background: #f2f2f2;
  color: #007AF3;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.feedback .button .feedback-button:hover {
  background-color: #555;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.credits-page, .privacy-page {
  text-decoration: none;
  width: auto;
  color: #007AF3;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.credits-page:hover, .privacy-page:hover {
  text-decoration: underline;
}

.spinner-background {
  display: flex;
  align-items: center;
  padding: 1em;
  background: #f2f2f2;
  border-radius: 1em;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 6px solid transparent;
  border-top: 6px solid #007AF3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-text {
  padding-left: 2em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.highlightedWord {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.highlightedWord::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #007AF3;
}

/* .school-code-hero {
  background: #007AF3;
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.7em;
  color: white;
} */

.school-code-hero {
  display: flex;
  align-items: center;
  background-color: #007AF3; 
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  padding: 10px;
}

.column {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.column h1 {
  font-size: 1.5em;
  margin: 5px 5px 0em 5px;
  padding: 15px;
}

.divider {
  height: 100px;
  border: 1px solid #fff;
  margin: 0 20px; 
}

.go-to-school-data-button {
  text-decoration: none;
  width: auto;
  padding: 0 20px;
  margin-top: 0em;
  margin-bottom: 0em;
  border-radius: 1.5em;
  background: #f2f2f2;
  color: #007AF3;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.go-to-school-data-button:hover {
  background-color: #555;
}

.premium-code-text {
  font-family: "Poppins";
  border: None;
  width: auto;
  font-size: 1em;
  padding: 0 10px;
  margin-top: 0em;
  margin-bottom: 0em;
  border-radius: 2em;
  background: #f2f2f2;
  color: #007AF3;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.edit-or-enter-button {
  width: auto;
  font-size: 2em;
  padding: 0 20px;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 10px;
  border-radius: 1.5em;
  background: #f2f2f2;
  color: #007AF3;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.edit-or-enter-button:hover {
  background-color: #555;
}

.text-field {
  margin-left: 20px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 5px;
}