@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background: white;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;
  text-align: center;
}
.navbar .LogoText {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
  font-weight: bold;
}
.navbar .LogoText span {
  color: #007AF3;
}

.school-data {
  background: white;
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.7em;
  color: #007AF3;
}

.school-data-information {
  display: flex;
  align-items: center;
  background-color: white; 
  color: #007AF3;
  margin-top: 0;
  padding-top: 0;
  padding: 10px;
}

.column {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.information-text {
  font-size: 1.3em;
}

.information-text span {
  font-weight: 700;
}

.blue-divider {
  height: 100px;
  border: 1px solid #007AF3;
  margin: 0 20px; 
}

.slider-text {
  font-size: 1em;
  color: #007AF3;
}

.slider-container {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 300px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.filler {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s;
}

.vertical-line {
  width: 4px;
  height: 150%;
  background-color: red;
  position: absolute;
  top: 0;
  transition: left 0.3s;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-section > div {
    text-align: center;
    margin: 0 20px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.circle p {
    margin: 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;
}

.item:last-child {
    margin-bottom: 0;
}

.number {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3B82F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-weight: 700;
}

.title {
    max-width: 600px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.description {
    max-width: 600px;
    margin-top: 0.25rem;
}